$color-1: white;
$color-2: #134880;
$color-3: #484a4c;
$color-4: #dddddd;

$font-family_1: "HelveticaNeue";
$font-family_2: "SourceSansPro",sans-serif;

$background-color-1: rgb(255, 255, 255);

$arrow-width-height: 60px;
$b-radius: 7px;
$component-spacing: 0.5rem;
$border-thickness: 1px;
$letter-spac:-0.2px;
$img-asset-path: "img";
$arrow-gray-left: "arrow-gray-left.png";
$arrow-gray-right: "arrow-gray-right.png";
$arrow-blue-left: "arrow-blue-left.png";
$arrow-blue-right: "arrow-blue-right.png";
