@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";
@import "variables";
@import "resets";
@import "mixins";

#copy-right {
  grid-row: 3 / span 2;

  h1 {
    font-family: $font-family_2;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: $letter-spac;
    color: $color-2;
  }
  p {
    align-items: center;
    font-family: $font-family_2;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: $letter-spac;
    margin-top: 20px;
    color: $color-3;
  }
}

.carousel-row {
  overflow-x: scroll;
  display: flex;
  flex-direction: row-reverse;

  &.top {
    grid-column: 1 / span 8;
    grid-row: 3 / span 1;
    margin-top: 4rem;
  }
  &.bottom {
    grid-column: 1 / span 6;
    grid-row: 4 / span 1;
    margin-bottom: 4rem;
  }

  .content {
    display: flex;
    gap: $component-spacing;
  }

  img {
    height: 200px;
    border-radius: 5px;
    width: intial !important;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 60px repeat(auto, 2) 60px auto;
  grid-column-gap: 19px;
  grid-row-gap: 12px;

  width: 1090px;
  min-height: 730px;

  margin: 0 auto;
}

.gray-area {
  background-color: #dddddd;
  height: 100px;

  display: grid;
  place-items: center;

  &.top {
    border-radius: 0px 0px 5px 5px;
    grid-row: 1 / span 1;

    &.left {
      grid-column: 1 / span 4;
    }

    &.right {
      grid-column: 5 / span 8;
    }
  }

  &.bottom {
    grid-row: 6 / span 1;
    grid-column: 1 / span 12;
    border-radius: 5px 5px 0px 0px;
  }

  p {
    font-family: $font-family_1;
    font-size: 15px;
    line-height: 18px;
    color: $color-1;
    width: 80%;
  }
}

.arrow-buttons {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: $component-spacing;

  grid-row: 4 / span 1;
  grid-column: 8;

  .left {
    @include arrow;
    background-image: url(/#{$img-asset-path}/#{$arrow-gray-left});

    &:hover {
      background-image: url(/#{$img-asset-path}/#{$arrow-blue-left});
    }
  }

  .right {
    @include arrow;
    background-image: url(/#{$img-asset-path}/#{$arrow-gray-right});

    &:hover {
      background-image: url(/#{$img-asset-path}/#{$arrow-blue-right});
    }
  }
}

#copy-right {
  grid-column: 9 / span 4;
  grid-row: 3 / span 2;
  margin-top: 4.1rem;
}
